<a href="https://colab.research.google.com/github/ShishkinaMarina/LAB/blob/main/01_shishkina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа к лекции 1
Ваше имя:

Ваш адрес электронной почты:

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [ ]:
a = 10
b = 10.5

c = a + b

print(type(c))

In [ ]:
a = 'Hello, world!'

print(type(a))

In [ ]:
a = 'Hello, '
b = 'world!'

c = a + b

print(c)
print(type(c))

In [ ]:
a = 10
b = 10.5

str = 'Hello, world!'

c = a + str
d = b + str

print(c)
print(d)

#код выдает ошибку

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [47]:
name = 'Марина'
degree = 'Бизнес-Информатика'
age = 21
months = age*12
days = age*365

In [55]:
print('Имя: ',name, ", Специальность:", degree, ", Возраст:", age, 'год, или', months, 'месяца, или', days, "дней...")

Имя:  Марина , Специальность: Бизнес-Информатика , Возраст: 21 год, или 252 месяца, или 7665 дней...

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [57]:
def x(a, b):
    c = 5
    result = (a * b) / c
    return result

print(x(10, 20))
print(x(5, 5))
print(x(30, 3))

40.0
5.0
18.0

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [66]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

In [67]:
for person, books in zip(people, books_read):
    if books == 0:
        print(f'{person} не читал ни одной книги!')
    else:
        print(f'{person} прочитал {books} книг')

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [ ]:
# Ваш код

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [68]:
def display_books(people, books_read):
    for person, books in zip(people, books_read):
        if books == 0:
            print(f'{person} не читал ни одной книги!')
        else:
            print(f'{person} прочитал {books} книг')

people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

display_books(people, books_read)

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [69]:
people_books = list(zip(people, books_read))

sorted_people_books = sorted(people_books, key=lambda x: x[1], reverse=True)

for person, books in sorted_people_books[:3]:
    print(f'{person} прочитал {books} книг')

Yulia прочитал 15 книг
Krishnang прочитал 12 книг
Robert прочитал 10 книг